body{
    margin: 0;
    padding-top: 17%;
    outline: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

header{
    font-size: 30px;
    font-weight: bold;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;

    border-radius: 20px;
    box-shadow: 3px 3px 10px hsla(0, 0%, 0%, 0.5);
    border: 3px solid black;
}

section div.nascimento{
    background-color: bisque;
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;

    line-height: 30px;
    border-radius: 5px;
}

section div.sexo{
    background-color: bisque;
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;

    line-height: 30px;
    border-radius: 5px;

}

section div#res{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
section div#res img{
    width: 300px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.527));

}

footer{
    font-size: 15px;
    letter-spacing: 2px;
}