body{
    margin: 0;
    padding-top: 8%;
    background-image: linear-gradient(to right, rgb(57, 57, 212),orange);
    background-image: linear-gradient(to right, rgb(65, 153, 95),rgb(17, 56, 78));
    background-image: linear-gradient(to right, rgb(57, 57, 212),orange);
    background-image: linear-gradient(to right, rgb(57, 57, 212),orange);
    background-image: linear-gradient(to right, rgb(57, 57, 212),orange);
    display: flex;
    align-items: center;
    justify-content: center;
        flex-direction: column;
    box-sizing: border-box;
}

header{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
section{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.479);
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


section div{
    box-shadow: 3px 3px 10px black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-top: 15px;
}


footer{
    margin-top: 10px;
    font-size: 20px;
}